nav {
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.img-container {
    height: 721px;
    width: 1280px;
    display: inline-flex;
    overflow-x: hidden;
    object-fit: contain; /* not needed*/
}

.img-container > img {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.img-container > img:nth-child(1) {
    display: inline;
}