nav {
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.img-container {
    position: relative;
    height: 821px;
    /* width: 2280px; */
    width: auto;
    display: inline-flex;
    overflow-x: hidden;
    object-fit: contain; /* not needed*/
}

.img-container > img {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.img-container > img:nth-child(1) {
    display: inline;
}

.index-icons {
    display: flex;
    gap: 34px;
    position: absolute;
    top: 750px;
    left: 200px;
    font-weight: 900;
    font-size: 32px;
    color:rgb(77, 23, 23);
    text-decoration: underline;
}

.arrow-left {
    position: absolute;
    top: 350px;
    /* left: 20px; */
    left: 4%;
    font-weight: 900;
    font-size: 32px;
    color:rgb(77, 23, 23);
}

.arrow-right {
    position: absolute;
    top: 350px;
    /* right: 0; */
    left: 90%;
    font-weight: 900;
    font-size: 32px;
    color:rgb(77, 23, 23);
}

.useless {
    width: auto;
}